@media screen and ( max-width: 992px )
  .nav
      &__item
          margin-right: 2rem
    
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
      &__item
          margin-right: 1rem  
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none  
    &__content
        margin-left: 0
@media screen and ( max-width: 770px )
    .section
      padding: 54px 0
      &-title
        text-align: center
        &__heading
          font-size: 1.83rem  
        &__image
          display: flex
          justify-content: center
          align-items: center
          &::before, &::after
            content: ''
            width: 32px
            height: 2px
            background-color: $primary
             margin: 0 10px
      &__description
        margin: auto
        margin-top: 1.4rem
        margin-bottom: 3.3rem
        font-size: 1.428rem
        line-height: 135% 
        max-width: 53rem            
    .row
        flex-direction: column
        align-items: center
    .types
      &__card
          margin-bottom: 5rem      
    .card
        &__title
            font-size: 1.25rem
        &__text
          margin-left: 0 
        &__pricetag
            padding: 1.214rem 2.65rem 
            font-size: 1.24rem 
          
    .design
        padding: 54px 0
        background-color: $dark
        &__section-title
           color: $light
           font-size: 1.21rem
           &__description
             line-height: 170%
             min-width: 21.85rem
           
         
        &__card
           margin-bottom: 5rem
        &__overlay-image
            width: 28.5rem
            
            

        
                                 
@media screen and ( max-width: 570px )
    .section
        &-title
           &__description
              max-width: 21.86rem   
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none   
    .title
       font-size: 1.64rem 
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem   
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem 
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem 
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none

             
    