@media screen and ( max-width: 992px )
  .nav
      &__item
          margin-right: 2rem
    
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
      &__item
          margin-right: 1rem  
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none  
    &__content
        margin-left: 0
@media screen and ( max-width: 770px )
    .section
      padding: 54px 0
      &-title
        text-align: center
        &__heading
          font-size: 1.83rem  
        &__image
          display: flex
          justify-content: center
          align-items: center
          &::before, &::after
            content: ''
            width: 32px
            height: 2px
            background-color: $primary
             margin: 0 10px
      &__description
        margin: auto
        margin-top: 1.4rem
        margin-bottom: 3.3rem
        font-size: 1.428rem
        line-height: 135% 
        max-width: 53rem            
    .row
        flex-direction: column
        align-items: center
    .types
      &__card
          margin-bottom: 5rem      
    
          
    .design
        padding: 54px 0
        background-color: $dark
        &__section-title
           color: $light
           font-size: 1.21rem
           &__description
             line-height: 170%
             min-width: 21.85rem
           
         
        &__card
           margin-bottom: 5rem
       
            
            

        
                                 
@media screen and ( max-width: 570px )
    .types
      &__section-title
        margin-bottom: 3.4rem
      &__card
        margin-bottom: 6.5rem  
    .container
      width: 95%
    .section
        &-title
          &__heading
           
          &__description
              max-width: 25.8rem   
              font-size: 1.26rem
              line-height: 1.82rem
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none   
    .title
       font-size: 1.64rem 
    .hero
        &__title
          font-size: 1.924rem
          line-height: 2.72rem
          margin-bottom: 0.8rem
        &__scroll-down
            display: none
        &__content
            
        &__text
            font-size: 1.5rem
            max-width: 26rem
        &__button
            display: block
            width: 100%
            height: 4.3rem
            margin-top: 0
            margin-bottom: 2rem
            font-size: 1.1rem
    .logo
      font-size: 1.072rem
    .card
        &__list
          margin-bottom: 1.8rem
          padding-left: 1.7rem
        &__title
            font-size: 1.242rem
            padding-left: 0.78rem
        &__text
          line-height: 1.4rem
          margin-left: 0 
          max-width: 22.9rem
          margin-left: 0rem 
          margin-top: -12.1rem
          padding: 1.96rem 2.14rem
        &__pricetag
          padding: 1rem 3.1rem 
          font-size: 1.21rem  
@media screen and ( max-width: 350px )  
  .hero
    &__text
      max-width: 22rem


           

             
    